

@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
#red {
    color: blueviolet;
    font-size: 2rem;
    background-color: black;
    font-style: italic;
   letter-spacing: 5px;
   word-spacing: 5px;
   text-align: justify;
   text-transform: lowercase;
   line-height: 200px;

}


